/* Tablet Devices (768px and below) */
@media (max-width: 768px) {
    #nav {
        justify-content: flex-end;
        padding: 0 20px;
        gap: 15px;
        flex-direction: row;
    }

    #nav h4 {
        font-size: 16px;
        
    }

    #nav i {
        font-size: 16px;
        padding: 8px;
    }

    #center {
        padding: 30px 40px;
    }

    #center h1 {
        font-size: 50px;
        line-height: 60px;
    }

    #center-in {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    #right {
        width: 100%;
    }

    .elem {
        padding: 15px 0;
    }

    .elem a {
        font-size: 18px;
    }

    #bottom {
        height: 60%;
        background-position: center;
    }

    p {
        font-size: 20px;
    }
}

/* Mobile Devices (480px and below) */
@media (max-width: 480px) {
    #nav {
        flex-direction: row;
        height: auto;
        padding: 10px 15px;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    #center {
        padding: 20px 20px;
    }

    #center h1 {
        font-size: 36px;
        line-height: 42px;
    }

    #center-in {
        flex-direction: column;
        margin-top: 30px;
        gap: 15px;
    }

    #right {
        width: 100%;
    }

    .elem a {
        font-size: 16px;
    }

    .elem {
        padding: 12px 0;
    }

    #bottom {
        height: 50%;
        background-position: center;
    }

    p {
        font-size: 18px;
    }
}
